.Header {
    width: 100%;
    background: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.Container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderLogo {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-medium);
}

.HeaderLogoImage {
    width: 1.25rem;
}

.NavToggle {
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--title-color);
}

.NavClose,
.NavLink,
.HeaderLogo {
    color: var(--title-color);
}

.NavLogoImage {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.NavClose {
    font-size: 1.8rem;
    position: absolute;
    top: .5rem;
    right: .7rem;
    cursor: pointer;
}

.NavList {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.NavLink {
    text-transform: uppercase;
    font-weight: var(--font-black);
    transition: .4s;
}

.NavLink:hover {
    color: var(--text-color)
}

.ActiveNavLink {
    text-transform: uppercase;
    font-weight: var(--font-black);
    transition: .4s;
    position: relative;
    color: hsl(14deg 91% 54% / 62%);
}

.ActiveNavLink:before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: hsl(14deg 91% 54% / 62%);
    border-radius: 50%;

}

.ButtonGhost {
    border: 2px solid;
    background: transparent;
    border-radius: 3rem;
    padding: .75rem 1.5rem;
    display: inline-block;
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
    cursor: pointer;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.ButtonGhost:hover {
    background: none;
}

@media screen and (max-width: 320px) {
    .Container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
}

@media screen and (min-width: 767px) {
    .Container {
        height: calc(var(--header-height) + 1.5rem);
    }

    .NavLogoImage,
    .NavClose,
    .NavToggle {
        display: none;
    }

    .NavList {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 3rem;
    }

    .NavLink {
        text-transform: initial;
        font-weight: initial;
    }
}

@media screen and (max-width: 767px) {
    .NavMenu {
        position: fixed;
        width: 100%;
        background: var(--container-color);
        top: -150%;
        left: 0;
        padding: 3.5rem 0;
        transition: .4s;
        z-index: var(--z-fixed);
        border-radius: 0 0 1.5rem 1.5rem;
    }
}

@media screen and (min-width: 992px) {
    .Container {
        margin-right: auto;
        margin-left: auto;
    }
}








