.Footer {
    padding: 4.5rem 0 2rem;
    position: relative;
    overflow: hidden;
}

.Container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    display: grid;
    row-gap: 2rem;
}

.FooterLogo {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.FooterLogo > img{
    width: 20px;
}

.FooterDescription {
    margin-bottom: var(--mb-2-5);
}

.FooterSocial {
    display: flex;
    column-gap: .75rem;
}

.FooterSocialLink {
    display: inline-flex;
    background: var(--container-color);
    padding: .25rem;
    border-radius: .25rem;
    color: var(--title-color);
    font-size: 1rem;
}

.FooterSocialLink:hover {
    background: var(--body-color);
}

.FooterTitle {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}

.FooterLinks {
    display: grid;
    row-gap: .35rem;
}

.FooterLink {
    font-size: var(--small-font-size);
    color: var(--text-color);
    transition: .3s;
}

.FooterLink:hover {
    color: var(--title-color);
}

.FooterReserved {
    display: block;
    text-align: center;
    font-size: var(--smaller-font-size);
    margin-top: 4.5rem;
}

.FooterImageOne,
.FooterImageTwo {
    position: absolute;
    transition: .3s;
}

.FooterImageOne {
    width: 100px;
    top: 6rem;
    right: -2rem;
}

.FooterImageOne:hover {
    transform: translateY(-.5rem);
}

.FooterImageTwo {
    width: 150px;
    bottom: 4rem;
    right: 4rem;
}

.FooterImageTwo:hover {
    transform: translateY(-.5rem);
}

.footer__container{
    row-gap: 2rem;
}

.footer__logo{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.footer__logo-img{
    width: 20px;
}

.footer__description{
    margin-bottom: var(--mb-2-5);
}

.footer__social{
    display: flex;
    column-gap: .75rem;
}

.footer__social-link{
    display: inline-flex;
    background: var(--container-color);
    padding: .25rem;
    border-radius: .25rem;
    color: var(--title-color);
    font-size: 1rem;
}

.footer__social-link:hover{
    background: var(--body-color);
}

.footer__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}

.footer__links{
    display: grid;
    row-gap: .35rem;
}

.footer__link{
    font-size: var(--small-font-size);
    color: var(--text-color);
    transition: .3s;
}

.footer__link:hover{
    color: var(--title-color);
}

.footer__copy{
    display: block;
    text-align: center;
    font-size: var(--smaller-font-size);
    margin-top: 4.5rem;
}

@media screen and (max-width: 320px) {
    .Container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
}

@media screen and (min-width: 767px) {
    .Footer {
        padding: 7rem 0 2rem;
    }

    .Container {
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        column-gap: 1rem;
    }

    .FooterImageTwo {
        right: initial;
        bottom: 0;
        left: 15%;
    }
}

@media screen and (min-width: 992px) {
    .Container {
        margin-right: auto;
        margin-left: auto;
    }

    .FooterReserved {
        margin-top: 6rem;
    }
}

@media screen and (min-width: 1200px) {
    .FooterImageOne {
        width: 120px;
    }

    .FooterImageTwo {
        width: 180px;
        top: 30%;
        left: -3%;
    }
}
